get-or-create-gmail-label-subworkflow.json
{
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        448
      ]
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        496,
        528
      ],
      "id": "4eec1910-be7c-460a-acf6-e9eacbb8485c",
      "name": "Get All Labels from Gmail",
      "webhookId": "08f30928-8342-4716-873a-12e85d1b4aa7",
      "credentials": {
        "gmailOAuth2": {
          "id": "E86amFP0NmtNnusq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name",
              "renameField": true,
              "outputFieldName": "existing_labels"
            },
            {
              "fieldToAggregate": "id"
            },
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        944,
        448
      ],
      "id": "f3afe1f0-fd56-4c58-94d8-aac472e4cd5c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "resource": "label",
        "operation": "create",
        "name": "={{ $('When Executed by Another Workflow').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1392,
        544
      ],
      "id": "1e41fce9-bc18-4e25-8a2a-7c3d860bf084",
      "name": "Create Label",
      "webhookId": "64a98d4e-82c9-4309-b65c-75603af746e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "E86amFP0NmtNnusq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a271c3b4-6efc-4573-8267-60cd919b03e9",
              "leftValue": "={{ $json.existing_labels }}",
              "rightValue": "={{ $json.output[0].trim() }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        448
      ],
      "id": "5b7f445f-1ce1-4bac-97a1-3aaaf81f22c2",
      "name": "Check if label exists"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlabels = _json[\"existing_labels\"]\nids = _json[\"id\"]\ntag_name = _json[\"output\"][0].strip()\n\ntry:\n  index = labels.index(tag_name)\n  return {\"id\": ids[index]}\nexcept ValueError:\n  return {}\n\nreturn {}\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        352
      ],
      "id": "e2b8a5ff-017c-4441-a691-e4e6b39ea79d",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        720,
        448
      ],
      "id": "17e9d8d7-911f-45a8-acd9-1156b1d8c4ba",
      "name": "Merge"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get All Labels from Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Labels from Gmail": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Check if label exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if label exists": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "output": "Business"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58643122e41caa8c7a29bfb0eef9aa6baf21d382a0677dfb6fb553a802e232c8"
  }
}